.DS_Store
.idea
*.log
tmp/

.cache
.std

# nixago: ignore-linked-files
/treefmt.toml
treefmt.toml
.jupyter

# nixago-auto-created: mdbook-build-folder
docs/book/**
index_files
docs/publish
docs/quarto/*.qmd
!docs/quarto/index.qmd