[submodule "modules/grafonnix-guard"]
	path = modules/grafonnix-guard
	url = git@github.com:GTrunSec/grafonnix-guard.git
[submodule "modules/infra"]
	path = modules/infra
	url = https://github.com/GTrunSec/infra.git
[submodule "modules/playground"]
	path = modules/playground
	url = https://github.com/GTrunSec/playground
