[submodule "playground/data-hacking.jl"]
	path = playground/data-hacking.jl
	url = https://github.com/GTrunSec/data-hacking.jl.git
[submodule "modules/grafonnix-guard"]
	path = modules/grafonnix-guard
	url = git@github.com:GTrunSec/grafonnix-guard.git
[submodule "playground"]
	path = playground
	url = https://github.com/GTrunSec/playground
[submodule "modules/infra"]
	path = modules/infra
	url = https://github.com/GTrunSec/infra.git
