name: "CI"
on:
  push:
    branches: [main]
  pull_request:
  # schedule:
  #   - cron: "0 0 * * SUN" # every sunday
jobs:
  nix-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v18
        with:
          install_url: https://github.com/numtide/nix-unstable-installer/releases/download/nix-2.10.0pre20220728_86fcd4f/install
          extra_nix_config: |
            experimental-features = nix-command flakes
            system-features = nixos-test benchmark big-parallel kvm recursive-nix

      - uses: cachix/cachix-action@v11
        with:
          name: zeek

      - name: Run podman/docker Dag workflow
        run: nix -Lv develop .\#tullia --command faketty tullia run ci --runtime podman

      - name: Run julia with podman/docker
        run: nix -Lv run .\#x86_64-linux.julia.entrypoints.podman

      - name: Build jnumpy with podman/docker
        run: nix -Lv run .\#x86_64-linux.julia.entrypoints.jnumpy-podman

      - name: Build Doc
        run: nix develop .#doc --command mdbook build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.4.1
        with:
          branch: gh-pages
          folder: ./docs/book
